<!DOCTYPE html>
<html lang="no">
<head>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Din tittel her</title>
        <link rel="stylesheet" href="/style/style.css" />

  <script src="script/get-comments.js">
    
  </script>
</head>
<body>
  <div class="div-wrapper">
    <h2 class="all-comments">Alle kommentarer</h2>
    <div class ="commentList" id="commentList"></div>
  
    <h1 class="add-comment-style">Legg til en kommentar</h1>
    <!-- Skjema for å legge til ny kommentar -->
    <form onsubmit="submitComment(event)" class="form-style">
      <textarea id="Kommentar" class="Kommentar-style" required placeholder="Skriv din kommentar her..."></textarea>
      <br>
      <button type="submit" class="submit-wrapper">Legg til kommentar</button>
    </form>
    
    <p><a href="/logout" class="log-out">Logg ut</a></p>
  </div>
</body>
</html>
